In [7]:
import pandas as pd
import numpy as np
import scipy.stats as sts

<strong><h3>1.Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом, частину - за будь-яким іншим розподілом. Кількість спостережень - 20.</strong></h3>

In [8]:
data_fr = pd.DataFrame({
    'Player1': np.random.randn(20),
    'Player2':np.random.standard_normal(size = 20),
    'Player3':np.random.normal(loc = 10, scale = 3, size = 20),
    'Skills':np.random.poisson(lam = 5, size = 20),
    'Uniform':np.random.uniform(size = 20),
    'Variety':np.random.exponential(scale = 1, size = 20)    
})

data_fr

     Player1   Player2    Player3  Skills   Uniform   Variety
0  -2.192495  1.139209  12.952680       4  0.573338  3.508552
1   1.325624 -0.082877   8.818521       4  0.925684  1.123710
2   0.598814  1.274759   6.254965       6  0.047889  2.453616
3  -0.547739  0.180982  10.507936       3  0.137521  0.069110
4   0.801361  0.140395   3.690237       2  0.345198  1.433420
5   0.796643  1.105122   7.911553       3  0.958965  0.627790
6  -1.058339  0.324901  12.939926       5  0.491527  1.190723
7  -1.055363  1.134806  12.797354       5  0.579153  0.222050
8  -0.204987  0.405671   9.386822       4  0.057367  1.790555
9   0.361795  2.150719  11.492999       6  0.032710  0.559991
10  2.516587 -0.403212   8.753271       6  0.187084  0.767682
11 -1.553573 -1.523820  14.164126       4  0.951629  2.026251
12 -1.211591  1.416260   8.644353       2  0.097714  3.062634
13  0.602789 -0.025617  15.350284       3  0.194939  0.018350
14 -1.841616 -0.760692   8.487483       6  0.382044  0.694495
15  0.873351 -0.348521   9.096496       6  0.042913  1.024621
16 -0.712319  1.057514  10.546217       4  0.558952  0.239612
17  0.503743  0.582093  13.204615       6  0.549066  0.270172
18  1.093796 -0.913377   4.468543       3  0.793054  0.872574
19 -0.088073 -0.002715  13.659562       4  0.729198  0.187385

<strong><h3>2.Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних. Детальний опис роботи критерію та приклад його розрахунку.</strong></h3>

In [9]:
data_fr = pd.DataFrame({key: sorted(values) for key, values in data_fr.transpose().iterrows()})

In [10]:
def data_mean(arr,n):
    all_data = 0
    for i in range(n):
        all_data += arr[i]
    return all_data/n
data_mean_value = {i: data_mean(data_fr[i], 20) for i in data_fr}

In [11]:
def data_squared(arr,n, dat_mean):
    s = 0
    for i in range(n):
        s += ((arr[i]-dat_mean)**2)
    return s
data_squared_value = {i: data_squared(data_fr[i], 20, data_mean_value[i]) for i in data_fr}

In [12]:
a = [0.4734, 0.3211, 0.2565, 0.2085, 0.1686, 0.1334, 0.1013, 0.0711, 0.0422, 0.0140]

def b(arr, n):
    B = 0
    for i in range(n//2):
        B += (a[i]*(arr[(n-1)-i] - arr[i]))
    return B

b_value = {i: b(data_fr[i], 20) for i in data_fr}

In [13]:
def W (squared, b):
    return (b**2)/squared

W_value = {i: W(b_value[i],data_squared_value[i]) for i in data_fr}

WTheory = sts.shapiro(data_fr['Player1'])
W_value, WTheory

({'Player1': 146.81772152434544,
  'Player2': 61.71151318228084,
  'Player3': 2764.519982458251,
  'Skills': 231.87882648547267,
  'Uniform': 2.989642018019528,
  'Variety': 88.47708663808199},
 (0.9706969261169434, 0.7695233821868896))

<strong><h3>3.Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 3. Назва стовпчиків - Variable, Statistics, Distribution.</strong></h3>

In [14]:
column_name = ["Variable", "Statistics", "Distribution"]
table = pd.DataFrame(columns = column_name)
table

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

<strong><h3>4.Занести в стовпчик Variable назви змінних.</strong></h3>

In [16]:
table["Variable"] = data_fr.keys()
table

  Variable Statistics Distribution
0  Player1        NaN          NaN
1  Player2        NaN          NaN
2  Player3        NaN          NaN
3   Skills        NaN          NaN
4  Uniform        NaN          NaN
5  Variety        NaN          NaN

<strong><h3>5. Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal".</strong></h3>

In [17]:
table["Distribution"] = [('normal' if 'Norm' in i else 'non-normal') for i in table["Variable"]]
table

  Variable Statistics Distribution
0  Player1        NaN   non-normal
1  Player2        NaN   non-normal
2  Player3        NaN   non-normal
3   Skills        NaN   non-normal
4  Uniform        NaN   non-normal
5  Variety        NaN   non-normal

<strong><h3>6.Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. Записати в таблицю. Форма запису: Середнє [стандартне відхилення].</strong></h3>

In [18]:
for i in range(table.shape[0]):
    if 'Norm' in table["Variable"][i]:
        table['Statistics'][i] = f'{data_fr[table["Variable"][i]].mean()} {[data_fr[table["Variable"][i]].std()]}'
table

  Variable Statistics Distribution
0  Player1        NaN   non-normal
1  Player2        NaN   non-normal
2  Player3        NaN   non-normal
3   Skills        NaN   non-normal
4  Uniform        NaN   non-normal
5  Variety        NaN   non-normal

<strong><h3>7.Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].</strong></h3>

In [19]:
for i in range(table.shape[0]):
    if 'Norm' not in table["Variable"][i]:
        table["Statistics"][i] = f'{data_fr[table["Variable"][i]].median()} [{data_fr[table["Variable"][i]].quantile(0.25)}; {data_fr[table["Variable"][i]].quantile(0.75)}]'
table

  Variable                                         Statistics Distribution
0  Player1  0.1368607323853217 [-1.0561072155546527; 0.797...   non-normal
1  Player2  0.25294158719743876 [-0.14928824713679503; 1.1...   non-normal
2  Player3  9.947378846101646 [8.605135802679683; 12.94311...   non-normal
3   Skills                                     4.0 [3.0; 6.0]   non-normal
4  Uniform  0.43678572464135285 [0.1275694974048367; 0.616...   non-normal
5  Variety  0.8201283342645105 [0.26253196894083963; 1.522...   non-normal

<strong><h3>8.Зберегти таблицю в пдф форматі</div></strong></h3>

In [20]:
import matplotlib.backends.backend_pdf
import matplotlib.pyplot as plt
fig = plt.figure()
ax=fig.add_subplot(111)

cell_text = []
for row in range(len(table)):
    cell_text.append(table.iloc[row])

ax.table(cellText=cell_text, colLabels=table.columns, loc='center')
ax.axis('off')

pdf = matplotlib.backends.backend_pdf.PdfPages("table.pdf")
pdf.savefig(fig)
pdf.close()